<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917984579481-7hk1gbdcear3inp1e33ig9u6qrnfun3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917984579481-7hk1gbdcear3inp1e33ig9u6qrnfun3t</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Uo3abB3cPybsW2fRV7MyKtHzFaSzH_I</string>
	<key>GCM_SENDER_ID</key>
	<string>917984579481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garypiong.nutes</string>
	<key>PROJECT_ID</key>
	<string>nutes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nutes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917984579481:ios:c09f39b7a5a2ac5eb4cd08</string>
	<key>DATABASE_URL</key>
	<string>https://nutes-app.firebaseio.com</string>
</dict>
</plist>